################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo/bin
/Demo/obj
/OpenStreetMapParser/bin
/OpenStreetMapParser/obj
